name: Docker Image CI

permissions:
  contents: read
  packages: write       
  id-token: write       


on: [push]

jobs:

  build:

    name: Build Image and Run Image Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set lowercase image repo
      run: echo "IMAGE_REPO=ghcr.io/${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV
      
    - name: Docker Login 
      uses: docker/login-action@v3            
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
             
    - name: Docker Build
      uses: docker/build-push-action@v5
      id: build
      with:
        context: .
        push: true
        tags: ${{ env.IMAGE_REPO }}:main
        
    - name: Scan the Docker Image
      uses: docker/scout-action@v1.18.2
      with:
        dockerhub-user: ${{secrets.DOCKERUSERNAME }}
        dockerhub-password: ${{ secrets.DOCKERPASSWORD }}
        command: cves, quickview
        only-severities: critical, high
    
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag test-image-name:$(date +%s)

    - name: Show Digest
      run: echo "Digest = ${{ steps.build.outputs.digest }}"

    - name: Cosign Installer
      uses: sigstore/cosign-installer@v3.9.2
    
    - name: Sign container image using annotatoins from env (keyless)
      run: cosign sign --yes ghcr.io/${{ env.IMAGE_REPO }}@${{ steps.build.outputs.digest }}
      
  sast_scan:
    name: Run Bandit Scan
    runs-on: ubuntu-latest

    steps:
    -  name: Run Checkout code
       uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v3
      with: 
        python-version: 3.8

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit
      run: bandit -ll -ii -r . -f json -o bandit-report.json

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: bandit-findings
        path: bandit-report.json
    
      
      
    
