name: Docker Image CI

on: [push]

jobs:

  build:

    name: Build Image and Run Image Scan
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      
    - name: Docker Build
      uses: docker/setup-buildx-action@v3      # enables BuildKit
    - uses: docker/login-action@v3             # authenticate to GHCR
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag test-image-name:$(date +%s)

    - name: Scan the Docker Image
      uses: docker/scout-action@v1, docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        command: quickview
        image: ${{ env.IMAGE_REF }}
    - uses: docker/scout-action@v1, docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        command: cves
        image: ${{ env.IMAGE_REF }}
        only-severities: critical,high


    
      
  sast_scan:
    name: Run Bandit Scan
    runs-on: ubuntu-latest

    steps:
    -  name: Run Checkout code
       uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v3
      with: 
        python-version: 3.8

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit
      run: bandit -ll -ii -r . -f json -o bandit-report.json

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: bandit-findings
        path: bandit-report.json
    
      
      
    
