name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag test-image-name:$(date +%s)
      
  sast_scan:
    name: Run Bandit Scan
    runs-on: ubuntu-latest

    steps:
    -  name: Run Checkout code
       uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v3
      with: 
        python-version: 3.8

    - name: Install Bandit
      run: pip install bandit

    - name: Run Bandit
      run: bandit -ll -ii -r . -f json -o bandit-report.json
      
      
    
